[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click
gunicorn
itsdangerous
python-dotenv
six
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-WTF
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
WTForms
Flask-Migrate
Flask-Login
alembic
python-dateutil
python-editor
greenlet
Mako
boto3
email-validator

[dev-packages]
psycopg2-binary = "==2.8.6"

[requires]
python_version = "3.9"
