.all-comments {
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    margin: 3%;
    border-radius: 25px;
}

.comment-image {
    width: 175px;
    height: 250px;
    border-radius: 30px;
    border: 1px solid rgb(235, 235, 235);
    object-fit: cover;
}

.comment-form{
    position: relative;
    left: 2%;
    top: -1px;
    text-indent: 8px;
    border-radius: 30px;
    background-color: #f0f2f5;
    height: 35px;
    width: 580px;
    text-align: left;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    bottom: 7px;
    border: 1px solid #f0f2f5;
    transition: .1s background-color
}

.comment-form:focus{
    outline: none;
    color: black
}

.write-comment-container{
    display: inline-flex;
    position: relative;
    left: 3%;
    top: 5px;
    margin-bottom: 3%;
    margin-top: 1%;
}

.profile-picture-comments{
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50px;
}

/* #comment-upload-photo{
    opacity: 0;
    position: absolute;
    z-index: -1;
} */
