.logo-navbar {
    width: 40px;
}

.navigation{
display: inline-flex;
margin-top: .4%;
}

nav {
    border-bottom: solid 1px rgb(226, 226, 226);
    height: 55px;
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: .5px .5px 7px rgb(214, 214, 214);
    z-index: 2
}

.home-logo {
    width: 26px;
    position: relative;
    padding: 40%;
    padding-left: 200%;
    padding-right: 200%;
}

.nav-buttons-container {
    display: inline-flex;
    position: relative;
    left: 280%;
    margin-top: -1%;
}

.home-logo-container{
    position: relative;
    right: 20%;
}

.fa-brands{
    color: rgb(150, 150, 150);
    font-size: 29px;
    padding: 35%;
    padding-left: 200%;
    padding-right: 200%;
}

.fa-brands.fa-github
{
    color:rgb(150, 150, 150);
    font-size: 29px;
    padding: 30%;
    padding-left: 200%;
    padding-right: 200%;
}

.fa-house {
    font-size: 23px;
    margin-top: 10%;
}

.fa-brands.fa-people-arrows{
    color: rgb(150, 150, 150);
    font-size: 27px;
    padding: 30%;
    padding-left: 170%;
    padding-right: 170%;
}

.fa-brands:hover,
.home-logo:hover {
    background-color: rgb(240,240,240);
    border-radius: 10px;
}

.nav-li {
    margin-left: 35%;
    margin-right: 35%;
}

.profile-picture-nav{
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50px;
}

.profile-picture-nav:hover,
.profile-picture-comments:hover{
    filter:brightness(90%);
    cursor: pointer;
}

.nav-img {
    position: relative;
    left: 450%;
}

.user-options-container{
    position: absolute;
    background-color: white;
    width: 350px;
    height: 200px;
    right: 10%;
    top: 98%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
}

.user-options-inner{

    background-color: white;
    width: 290px;
    height: 60px;
    position: relative;
    left: 3%;
    top: 10px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgb(214, 214, 214);
    display: inline-flex;
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-name-options {
    margin-left: 5%;
    margin-top: 3%;
}

.p{
    position: absolute;
    top: 65%;
    left: 8%;
    color: rgb(199, 199, 199);
}

.logout {
    position: relative;
    top: 40px;
    display: inline-flex;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-weight: bold;
}

.logout-icon{
    width: 22px;
}

.logout-icon-wrapper{
    width: 20px;
    height: 20px;
    background-color: #f0f2f5;
    border-radius: 50px;
    padding: 3%;
    position: relative;
    top: 35px;
    left: 4%;
    cursor:pointer;
}

.logout-text{
    margin-top: 5%;
    margin-left: 5%;
    color: #4b4b4b;
    position: relative;
    display: inline-flex;
    left: 14%;
    bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    font-weight: bold;
    cursor:pointer;
}
