.logo-navbar {
    width: 40px;
}

.search-bar{
    width: 500px;
}


nav {
    border-bottom: solid 1px rgb(226, 226, 226);
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: .5px .5px 7px rgb(214, 214, 214);
    z-index: 2
}

.home-logo {
    width: 120px;
    text-align: center;
    position: relative;
}

.nav-buttons-container {
    display: inline-flex;
    position: relative;
}

.home-logo-container{
    position: relative;
    top: 5px;

}

.logout-div-nav{
    width: 330px;
    height: 55px;
    margin-left: 3%;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logout-div-nav:hover {
    background-color:rgb(240,240,240);
    width: 330px;
    height: 50px;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fa-brands{
    color: rgb(150, 150, 150);
    font-size: 29px;
    width: 120px;
    text-align: center;

}

.fa-brands.fa-github
{
    color:rgb(150, 150, 150);
    font-size: 29px;

}

.fa-house {
    font-size: 25px;
}

.fa-brands{
    color: rgb(150, 150, 150);
    font-size: 27px;
    cursor: pointer;
}

.fa-house, .fa-people-arrows{
    color: rgb(150, 150, 150);
    font-size: 27px;
    cursor: pointer;
}

.nav-li:hover {
    background-color: rgb(240,240,240);
    border-radius: 10px;
    cursor: pointer
}

.nav-li {
display: inline-flex;
width: 100px;
justify-content: center;
padding: 2%;
margin-left: .5%;
margin-right: .5%;
}

.nav-li-active{
border-bottom:#1b74e4 3px solid;
display: inline-flex;
width: 100px;
justify-content: center;
padding: 2%;
margin-left: .5%;
margin-right: .5%;
}

.home-logo-active {
    color:#1b74e4;
}

.arrows-active{
    color: #1b74e4;

}

.nav-ul {
    width: 500px;
    position: relative;
    right: 25%;
}

.search-profile {
    position: relative;
    left: 15px;
    top: 10px;
}

.fa-arrow-left{
    position: relative;
    bottom: 30px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

.all-nav-container{
    display: inline-flex;
    position: relative;
    left: 1%;
    justify-content: space-between;
    width: 98%;
    margin-top: .3%;
}

.profile-picture-nav{
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50px;
}

.div-picture-nav{
    margin-top: 3%;
    margin-left: 3%;
}

.profile-nav{
    position:relative;
    top: 3px;
}

.profile-picture-nav:hover,
.profile-picture-comments:hover{
    filter:brightness(90%);
    cursor: pointer;
}

.nav-img {
    position: relative;
}

.user-options-container{
    position: absolute;
    background-color: white;
    width: 350px;
    height: 200px;
    right: 10%;
    top: 98%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
}

.user-options-inner{

    background-color: white;
    width: 310px;
    height: 50px;
    position: relative;
    left: 3%;
    top: 10px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgb(214, 214, 214);
    display: inline-flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-name-options {
    margin-left: 3%;
    margin-top: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.p{
    position: absolute;
    top: 65%;
    left: 8%;
    color: rgb(199, 199, 199);
}

.logout {
    position: relative;
    top: 40px;
    display: inline-flex;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-weight: bold;
}

.logout-icon{
    width: 22px;
    z-index: 3;
}

.logout-icon-wrapper{
    width: 20px;
    height: 20px;
    background-color: #d1d1d1;
    border-radius: 50px;
    padding: 3%;
    position: relative;
    top: 39px;
    left: 4%;
    cursor:pointer;
    z-index: 3;
}

.logout-text{
    color: #4b4b4b;
    position: relative;
    display: inline-flex;
    left: 17%;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    font-weight: bold;
    cursor:pointer;
}

.user-hover{
    display: inline-flex;
    width: 310px;
    height: 70px;
    position: relative;
    bottom: 10px;
}
