

.post-container {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    width: 675px;
    position: relative;
    left: 29%;
    margin: 3%;
    background-color: white;
    box-shadow: .5px .5px 7px rgb(214, 214, 214);
}

.post-image{
    width: 675px;
}

.image-wrapper{
    width: 500px;
    height: 500px;
}

.image-loading {
    width: 100px;
}
