

.post-container {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    width: 675px;
    position: relative;
    margin-bottom: 1%;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(214, 214, 214);
    overflow-wrap:break-word;
    display: flex;
    flex-direction: column;
    left: 33.5%;
}

.image-wrapper{
    width: 500px;
    height: 500px;
}

.image-loading {
    width: auto;
}

.post-image{
    width: 675px;
    height: 380px;
    object-fit: contain;
    background-position: center;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    object-position:50% 50%

}

.image-wrapper{
    width: 500px;
    height: 500px;
}

.image-loading {
    width: 100px;
}

.post-form-outer-container{
    width: 100vw;
}

.post-form{

    position: relative;
    left: 5%;
    text-indent: 8px;
    border-radius: 30px;
    background-color: #f0f2f5;
    height: 43px;
    width: 580px;
    text-align: left;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    bottom: 7px;
    border: 1px solid #f0f2f5;
    cursor: pointer;
    transition: .1s background-color
}

.post-form:hover{
    background-color: #e4e4e4;
}

.post-form-container{
    background-color: white;
    position: relative;
    top: 80px;
    left: 33.5%;
    width: 675px;
    height: 60px;
    border-radius: 10px;
    box-shadow: .5px .5px 7px rgb(214, 214, 214);
    border: 1px solid rgb(214, 214, 214);

}

.all-posts-container{
    margin-top: 100px;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-profile{
    position: relative;
    left: 2%;
    top: 8px;
}

.single-post{
    margin-top: 5px;
    left: 6%;
}

.posts-names{
    width: fit-content;
    position:relative;
    left: 10.5%;
    bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.post-navlink {
    width: 200px;
}

.posts-names:hover{
text-decoration: underline;
}

.post-body{
    position: relative;
    left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    z-index: 0;
    max-width: 635px;
    width: fit-content;
}

.post-body-short{
    position: relative;
    left: 3%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin-bottom: 3%;
}

.posts-ellipsis {
    position: relative;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    left: 91%;
    bottom: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1%;;



}



.posts-ellipsis:hover{
    background-color:#f0f2f5;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;


}

.posts-ellipsis:active{
    background-color: rgba(190, 190, 190, 0.445);
    font-size: 18px
}

.fa-pencil,
.fa-trash-can{
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
}

.delete-modal, .edit-modal {
    background-color: white;
    display: flex;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    width: 290px;
    position: relative;
    left: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #363636;
    transition: .1s background-color;
    z-index: 2;
}

.delete-modal:hover, .edit-modal:hover{
    background-color: rgb(240,240,240);
    border-radius: 10px;
    cursor: pointer;
}

.edit-delete-post-container{
    border: 1px solid #f0f2f5;
    width: 300px;
    height: 105px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: .5px .5px 3px rgb(214, 214, 214);
    z-index: 1;
    left: 51%;
    top: 60px;
    border-radius: 10px;
}

.p2 {
    position: absolute;
    top: 35%;
    left: 4%;
    color: rgb(199, 199, 199);
}

.fa-thumbs-up,
.fa-message {
    margin-right: 5%;
    font-size: 18px;
}

.likes-and-comments{
    color: #6e747c;
    display: inline-flex;
    position: relative;
    left: 2%;
    justify-content: space-evenly;
    width: 625px;
    font-weight: bold;
    font-size: 15px;
    border-top: 1px solid #ced0d4;;
    border-bottom: 1px solid #ced0d4;;
    font-family: Arial, Helvetica, sans-serif;
}

.like, .comment{
    padding: 1%;
    width: 312.5px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-top: .75%;
    margin-bottom: .75%;
    transition: .050s background-color;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.like-full {
    color: #0571ed;
    padding: 1%;
    width: 312.5px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-top: .75%;
    margin-bottom: .75%;
    transition: .050s background-color;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.thumbs-up{
    width: 28px;
}

.post-likes{
    position: relative;
    left: 5px;
    top: 5px;
}

.thumb-num{
    display: inline-flex;
}

.like:hover, .like-full:hover, .comment:hover{
    background-color: rgb(240,240,240);
    border-radius: 3px

}

.like {
    margin-right: .25%
}

.comment {
    margin-left: .25%;
}

.likes-and-comments-amount {
    color: #6e747c;
    display: inline-flex;
    position: relative;
    padding: 1%;
    left: 2%;
    justify-content: space-between;
    width: 612px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-amount{
    height:fit-content;
    position: relative;
    top: 7px;
}

.comment-amount-single{
   position: relative;
   left: 535px;
   bottom: 5px;
}

.comment-amount:hover, .like-amount:hover{
    cursor: default;
}

.name-fixed{
    position: fixed;
    display: inline-flex;
    width: 300px;
    right: 83.2%;
    margin-top: 0%;
    padding: .3%;
    cursor: pointer;
    /* z-index: 2;; */
}

.name-fixed:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.profile-home {
    margin-left: 2px;
}

.profile-home-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}

.save-edit:disabled,
.save-edit[disabled],
.save-edit-big:disabled,
.save-edit-big[disabled] {
    background-color: #e4e6eb;
    cursor:not-allowed;
    border:#e4e6eb;
    color: gray;
}

.save-edit:disabled:hover,
.save-edit[disabled]:hover {
    background-color: #e4e6eb;
}

.body-length-short{
    position: absolute;
    left: 150px;
    bottom: 365px;
    font-size: 11px;
    color: red;
    width: max-content;
}

.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
